---
# Legal Banner Configuration
# Displays warning before login (SSH and console)

- name: Deploy login banner (pre-authentication)
  ansible.builtin.template:
    src: issue.net.j2
    dest: /etc/issue.net
    mode: "0644"
    owner: root
    group: root
  tags: [ssh, banner]

- name: Deploy console banner (local login)
  ansible.builtin.template:
    src: issue.j2
    dest: /etc/issue
    mode: "0644"
    owner: root
    group: root
  tags: [ssh, banner]

- name: Deploy MOTD (post-authentication)
  ansible.builtin.template:
    src: motd.j2
    dest: /etc/motd
    mode: "0644"
    owner: root
    group: root
  tags: [ssh, banner]

- name: Disable dynamic MOTD scripts
  ansible.builtin.file:
    path: "/etc/update-motd.d/{{ item }}"
    mode: "0644"
  loop:
    - "10-help-text"
    - "50-motd-news"
    - "91-release-upgrade"
  failed_when: false
  tags: [ssh, banner]

- name: Enable banner in SSH config
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Banner'
    line: 'Banner /etc/issue.net'
    state: present
    backup: true
  notify: restart sshd
  tags: [ssh, banner]
