
================================================================================
                    {{ login_banner_company }}
                         {{ inventory_hostname }}
================================================================================

  NOTICE:

  All activity is logged and monitored.
  Unauthorized access is prohibited and will be prosecuted.

================================================================================
          {{ login_banner_classification }} - Company Property
================================================================================
